<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запис на склад</title>
     <link rel="stylesheet" href="static/css/addstyle.css">
    <style>
</style>
</head>
<body>
<div class="top"><h1>Медичний інвертар</h1></div>

<div class="left_box">
    <form  method="post" action="add_data">
        <input type="text" name="name" placeholder="Номер накладної" value=""/><br>
        <input  type="number" placeholder="Виписати" name="box_number" value=""/><br>
        <input type="text" name="name" placeholder="Відділення" value=""/><br>
    </form>
    </form>
</div>

<div class="right_box">
    Препарат:
    <select id="table_data">
        {% for item in items %}
            <option value="{{item}}">{{ item }}</option>
        {% endfor %}
    </select><br>
    Одиниці вимірювання:
    <select id="table_data" >
        {% for item in items_action %}
            <option value="{{item}}">{{ item }}</option>
        {% endfor %}
    </select>
</div>

<div class="table_c">
    <table>
        <tr>
            <td>ID</td>
            <td>Назва</td>
            <td>Кількість</td>
            <td>Ціна/шт</td>
            <td>Виробник</td>
            <td>Одиниця</td>
            <td>Прайс</td>
        </tr>
         {% for row in rows %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.number }}</td>
            <td>{{ row.price_per_piece }} грн</td>
            <td>{{ row.producer }}</td>
            <td>{{ row.units }}</td>
            <td>{{ row.number * row.price_per_piece  }} грн</td>
        <br>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="bottom">
<input type="submit" value="+"><br>
<a href="user_panel"><input type="button" value="НАЗАД"></a>
</div>

<script type="text/javascript">document.getElementById('datePicker').value = new Date().toDateInputValue();</script>
</body>
</html>